<p>
For announcements and updates about data science on the CSUS campus and greater Sacramento area, please subscribe to our mailing list by sending an email to <a href="mailto:DATASCIENCE-L@LISTSERV.CSUS.EDU">DATASCIENCE-L@listserv.csus.edu</a> with the following text in the message body: 
</p>

<p>
subscribe DATASCIENCE-L firstname lastname
</p>

<p>
Alternatively, visit <a href="https://listserv.csus.edu/">listserv.csus.edu</a> and sign up for DATASCIENCE-L using the web form.
You do not need to have a CSUS email address to subscribe, and I suggest that graduating seniors and alumni use a permanent email address.
</p>
